# dependencies
node_modules/
.pnpm-store/

# build output
dist/
.next/
out/

# env
.env
.env.local
.env.*.local

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
packages/.DS_Store
